@use "sass:color";

$gruvbox-bg: #282828;
$gruvbox-bg3: #665c54;
$gruvbox-aqua: #689d6a;
$gruvbox-blue: #458588;
$gruvbox-yellow: #d79921;
$gruvbox-green: #98971a;
$gruvbox-red: #cc241d;
$gruvbox-purple: #b16286;

@mixin shadow($outline: $gruvbox-bg, $glow: $gruvbox-bg) {
  text-shadow:
    -1px 0 1px $outline,
    0 1px 1px $outline,
    1px 0 1px $outline,
    0 -1px 1px $outline,
    -2px 0 2px $glow,
    0 2px 2px $glow,
    2px 0 2px $glow,
    0 -2px 2px $glow;
}

window {
  background-color: color.adjust($gruvbox-bg, $alpha: -0.6);
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
}

button {
  background-color: transparent;
  @include shadow;
}

button:not(:hover) {
  font-size: 92px;
}

button:focus,
button:active {}

button:hover {
  font-size: 144px;
}

#lock {
  color: $gruvbox-yellow;
}

#logout {
  color: $gruvbox-aqua;
}

#suspend {
  color: $gruvbox-purple;
}

#hibernate {
  color: $gruvbox-blue;
}

#shutdown {
  color: $gruvbox-red;
}

#reboot {
  color: $gruvbox-green;
}
