@use "sass:color";

@mixin removeBg {
  background-color: transparent;
}

@mixin fontIcon {
  @include removeBg;
  font-size: 24px;
}

/* $hyprland-brand-color: #458588; */
$hyprland-brand-color: #03A6D5;
/* $nixos-brand-color: #83a598; */
$nixos-brand-color: #4F72BB;
$shadow-color: #282828;
$glow-color: #ebdbb2;

@mixin gtkIconShadow($outline: $shadow-color, $glow: $shadow-color) {
  @if $glow ==$shadow-color {
    -gtk-icon-shadow: -1px 0 1px $outline,
      0 1px 1px $outline,
      1px 0 1px $outline,
      0 -1px 1px $outline,
      -2px 0 2px $glow,
      0 2px 2px $glow,
      2px 0 2px $glow,
      0 -2px 2px $glow;
  }

  @else {
    -gtk-icon-shadow: -1px 0 1px $outline,
      0 1px 1px $outline,
      1px 0 1px $outline,
      0 -1px 1px $outline,
      -2px 0 2px color.adjust($glow, $lightness: -30%),
      0 2px 2px color.adjust($glow, $lightness: -10%),
      2px 0 2px color.adjust($glow, $lightness: -10%),
      0 -2px 2px color.adjust($glow, $lightness: -10%);
  }
}

@mixin shadow($outline: $shadow-color, $glow: $shadow-color) {
  @if $glow ==$shadow-color {
    text-shadow: -1px 0 1px $outline,
      0 1px 1px $outline,
      1px 0 1px $outline,
      0 -1px 1px $outline,
      -2px 0 2px $glow,
      0 2px 2px $glow,
      2px 0 2px $glow,
      0 -2px 2px $glow;
  }

  @else {
    text-shadow: -1px 0 1px $outline,
      0 1px 1px $outline,
      1px 0 1px $outline,
      0 -1px 1px $outline,
      -2px 0 2px color.adjust($glow, $lightness: -30%),
      0 2px 2px color.adjust($glow, $lightness: -10%),
      2px 0 2px color.adjust($glow, $lightness: -10%),
      0 -2px 2px color.adjust($glow, $lightness: -10%);
  }
}

window {
  background-color: transparent;
}

.workspaceButton:not(:hover) {
  @include shadow;
}

.workspaceButton:hover {
  @include shadow($glow: #928374);
}

.workspaceButton {
  background-color: transparent;


  label {
    font-family: "ShureTechMono Nerd Font";
    font-size: 28px;

  }

  margin: 0px;
  padding: 0px;
  margin-right: 8px;
}

/* .nixosIcon { */
/*   @include gtkIconShadow; */
/* } */

.nixosButton:hover {
  /* @include shadow($glow: $nixos-brand-color); */
  @include gtkIconShadow($glow: $nixos-brand-color);
}

.nixosButton:not(:hover) {
  @include shadow;
  @include gtkIconShadow;
}

.nixosButton {
  @include fontIcon;
  margin: 0px;
  padding: 0px;
  margin-left: 8px;
}


.hyprlandButton:hover {
  @include shadow($glow: $hyprland-brand-color);
}

.hyprlandButton:not(:hover) {
  @include shadow;
}

.hyprlandButton {
  @include fontIcon;
  color: $hyprland-brand-color;
  margin: 0px;
  padding: 0px;
}

.powerMenu {
  border-width: 1px;
  border-color: black;
  padding-top: 10px;
  padding-left: 10px;
}
