window {
  background-color: transparent;
  font-family: "Fira Sans";
  font-size: 14px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.activeClientTitle {
  font-weight: 900;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
}

.hyprlandButton {
  background-color: transparent;
}

.hyprlandLogo {
  color: #458588;
  font-size: 20px;
}

.hyprlandButton:not(:hover) {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
}

.hyprlandButton:hover {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #689d6a, 0 2px 2px #689d6a, 2px 0 2px #689d6a, 0 -2px 2px #689d6a;
}

.workspaceButton {
  background-color: transparent;
}

.workspaceButton:hover {
  font-style: italic;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #665c54, 0 2px 2px #665c54, 2px 0 2px #665c54, 0 -2px 2px #665c54;
}

.workspaceLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.workspaceLabel:hover {
  font-style: italic;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #665c54, 0 2px 2px #665c54, 2px 0 2px #665c54, 0 -2px 2px #665c54;
}

.workspaceLabelFocused {
  font-style: italic;
  font-weight: 900;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #665c54, 0 2px 2px #665c54, 2px 0 2px #665c54, 0 -2px 2px #665c54;
}

.notificationLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-size: 20px;
  color: #d79921;
}

.notificationButton {
  background-color: transparent;
  margin-right: 8px;
}

.date {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.batteryIconLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.batteryPercentabeLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.batteryHigh {
  color: #98971a;
}

.batteryMedium {
  color: #d79921;
}

.batteryLow {
  color: #cc241d;
}

.batteryChargingLabel {
  color: #d79921;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.batteryPercentageLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.cpuIcon {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
  font-size: 20px;
}

.cpu {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.ramIcon {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
  font-size: 20px;
}

.ram {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}
