window {
  background-color: transparent;
  font-family: "Fira Sans";
  font-size: 14px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.activeClientTitle {
  font-weight: 900;
}

.hyprlandButton {
  background-color: transparent;
}

.hyprlandLogo {
  color: #458588;
  font-size: 20px;
}

.hyprlandButton:not(:hover) {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
}

.hyprlandButton:hover {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #689d6a, 0 2px 2px #689d6a, 2px 0 2px #689d6a, 0 -2px 2px #689d6a;
}

.workspaceButton {
  background-color: transparent;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-weight: 900;
}

.workspaceButton:hover {
  background-color: rgba(40, 40, 40, 0.4);
}

.workspaceButtonFocused {
  background-color: rgba(40, 40, 40, 0.4);
  text-decoration-line: underline;
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
}

.notificationLabel {
  text-shadow: -1px 0 1px #282828, 0 1px 1px #282828, 1px 0 1px #282828, 0 -1px 1px #282828, -2px 0 2px #282828, 0 2px 2px #282828, 2px 0 2px #282828, 0 -2px 2px #282828;
  font-size: 20px;
}

.notificationButton {
  background-color: transparent;
}
