@use "sass:color";

$gruvbox-bg: #282828;
$gruvbox-bg3: #665c54;
$gruvbox-aqua: #689d6a;
$gruvbox-blue: #458588;
$gruvbox-yellow: #d79921;
$gruvbox-green: #98971a;
$gruvbox-red: #cc241d;
$gruvbox-purple: #b16286;
$button-default-background: transparent;
$bar-font: "Fira Sans";

@mixin shadow($outline: $gruvbox-bg, $glow: $gruvbox-bg) {
  text-shadow:
    -1px 0 1px $outline,
    0 1px 1px $outline,
    1px 0 1px $outline,
    0 -1px 1px $outline,
    -2px 0 2px $glow,
    0 2px 2px $glow,
    2px 0 2px $glow,
    0 -2px 2px $glow;
}

@mixin icon() {
  font-size: 20px;
}

@mixin poster() {
  font-weight: 900;
}

@mixin active() {
  background-color: color.adjust($gruvbox-bg, $alpha: -0.6);
}

@mixin underline() {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

@mixin collapsedButton() {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

window {
  background-color: transparent;
  font-family: $bar-font;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}


.activeClientTitle {
  @include poster;
  @include shadow;
}

.hyprlandButton {
  background-color: $button-default-background;
}

.hyprlandLogo {
  color: $gruvbox-blue;
  @include icon;
}

.hyprlandButton:not(:hover) {
  @include shadow;
}

.hyprlandButton:hover {
  @include shadow($glow: $gruvbox-aqua);
}

.workspaceButton {
  background-color: transparent;
}

.workspaceButton:hover {
  font-style: italic;
  @include shadow($glow: $gruvbox-bg3);
}

.workspaceLabel {
  @include shadow;
  @include poster;
}

.workspaceLabel:hover {
  font-style: italic;
  @include shadow($glow: $gruvbox-bg3);
}

.workspaceLabelFocused {
  font-style: italic;
  @include poster;
  @include shadow($glow: $gruvbox-bg3);
}


.notificationLabel {
  @include icon;
  color: $gruvbox-yellow;
}

.notificationButton {
  @include collapsedButton;
  margin-right: 8px;
}

.notificationButton:hover {
  @include shadow($glow: $gruvbox-yellow);
}

.notificationButton:not(:hover) {
  @include shadow;
}

.date {
  @include shadow;
  @include poster;
}

.batteryIconLabel {
  @include shadow;
  @include poster;
}

.batteryPercentabeLabel {
  @include shadow;
  @include poster;
}

.batteryHigh {
  color: $gruvbox-green;
}

.batteryMedium {
  color: $gruvbox-yellow;
}

.batteryLow {
  color: $gruvbox-red;
}

.batteryChargingLabel {
  color: $gruvbox-yellow;
  @include shadow;
  @include poster;
}

.batteryPercentageLabel {
  @include shadow;
  @include poster;
}

.cpuIcon {
  @include shadow;
  @include poster;
  @include icon;
}

.cpu {
  @include shadow;
  @include poster;
}

.ramIcon {
  @include shadow;
  @include poster;
  @include icon;
}

.ram {
  @include shadow;
  @include poster;
}

.weather {
  @include shadow;
  @include poster;
}

.network {
  @include shadow;
  @include poster;
}

.trayButton {
  @include collapsedButton;
}

.volume {
  background-color: transparent;
}
